---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
  <em>{{ page.date | date_to_string }}</em> - {{ page.author }}
</p>

{{ content }}

<form style="border:1px solid #ccc;padding:3px;text-align:center;"
  action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=JoshuaOwoyemi', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <p>Get new posts in your inbox:</p>
  <p>
    <input type="text" style="width:140px" name="email" placeholder="name@example.com" />
    <input type="hidden" value="JoshuaOwoyemi" name="uri" />
    <input type="hidden" name="loc" value="en_US" /><input type="submit" value="Subscribe" />
  </p>
</form>

{% if site.disqus.shortname %}
{% include disqus_comments.html %}
{% endif %}